*{
  margin: 0;
}
body{
  background-color: #f5f6fa;
}

.app_dropdown{
  background-color: white;
}
.app{
  display: flex;
  justify-content: space-evenly;
  /* padding: 20px; */
}
.app_header{
  display: flex;/* for single row */
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;/* space between tags */
}

.app_header >h3{
  color: red;
  font-size: 1.6rem;
}
.app_stat{
  display: flex;
  justify-content: space-between;
}

.app_left{
  flex: 0.9 !important;/* covers 90% of the screen */
}

.lineGraph{
  height: 230px;
}

@media (max-width : 990px) {
  .app{
    flex-direction: column;
  }
}